body {
  /* max-height: 42em; */
  background: url('/img/background/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.home {
  margin: 10%;
}
.contact {
  font-size: 20px;
  list-style: none;
  margin-left: -50px;
}
.whatsapp {
  margin-left: 86px;
  margin-bottom: 100px;
}
